.about-container {
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    border: 1px dotted var(--color-2);
    color: #777;
}

.about-header {
    padding: 1rem;
    background-color: var(--color-2);
    color: white;
    text-align: center;
}

.about-title {
    margin: 1rem;
    text-transform: uppercase;
    font-weight: 300;
}

.about-subtitle {
    margin: 0 0 1rem 0;
    letter-spacing: 0.1rem;
    /* font-weight: 300; */
}

.about-tech-stack {
    margin: 1rem 1rem 0;
}

.about-tech-stack-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0.5rem 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.about-tech-stack-list-item {
    /* margin: 0.5rem 1rem; */
}

.about-features {
    padding: 0 0.5rem;
}

.about-features-headline {
    text-align: center;
}

.about-features-list {
    padding: 0;
    text-align: center;
    list-style: none;
    line-height: 2;
}

.about-button-link {
    margin: 2rem auto;
}

.about-button {
    width: 18rem;
    border: 1px solid transparent;
    border-radius: 0.35rem;
    background-color: var(--color-1);
}

@media only screen and (max-width: 500px) {
    .about-container {
        margin: 1rem auto;
    }

    .about-title {
        margin: 0 auto 0.5rem;
        font-size: 1.5rem;
    }

    .about-subtitle {
        margin: 0.5rem auto;
        font-size: 1rem;
    }

    .about-tech-stack-list-item {
        font-size: 1rem;
    }

    .about-features {
        font-size: 0.9rem;
    }

    .about-button {
        font-size: 0.9rem;
    }

    .about-button-link {
        margin: 0 auto 1rem;
    }
}

@media only screen and (max-width: 320px) {
    .about-container {
        margin: 1rem auto;
    }

    .about-title {
        font-size: 1.3rem;
    }

    .about-subtitle {
        font-size: 0.9rem;
    }

    .about-tech-stack-list-item {
        font-size: 0.9rem;
    }

    .about-features {
        font-size: 0.8rem;
    }

    .about-button {
        width: 80vw;
        margin: 0 auto;
        font-size: 0.8rem;
    }
}
