.contact-list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.no-contacts {
    background-color: white;
    padding: 2rem;
    text-align: center;
}

.no-contacts-message {
    display: inline-block;
    margin-bottom: 1rem;
    text-align: center;
    color: #aaa;
}

.no-contacts-message p {
    margin: 0 0 0.5rem;
}

@media only screen and (max-width: 500px) {
    .no-contacts-message h3 {
        font-size: 1rem;
    }

    .no-contacts-message p {
        font-size: 0.8rem;
    }
}
