header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-1);
    color: white;
}

.navbar-list {
    display: flex;
    margin-right: 1rem;
    list-style: none;
}

.navbar-list-item {
    margin: 0 0.5rem;
}

.navbar-list-item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    opacity: 0.7;
}

.navbar-list-item-link-active {
    text-decoration: underline;
    /* text-transform: uppercase;
  color: white;
  opacity: 0.7; */
}

.navbar-list-item-link:hover {
    opacity: 1;
    font-weight: bold;
}
