* {
    box-sizing: border-box;
}

:root {
    --color-1: rgb(130, 30, 130);
    --color-1b: rgba(130, 30, 130, 0.5);
    --color-2: rgb(0, 160, 225);
    --color-2a: rgba(0, 160, 225, 0.75);
    --color-2b: rgba(0, 160, 225, 0.3);
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ececec;
}

body {
    /* font-family: "Roboto", sans-serif; */
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Lato", sans-serif;
    /* font-family: "Oswald", sans-serif; */
    /* font-family: "Raleway", sans-serif; */
    /* font-family: "Montserrat", sans-serif; */
    /* font-family: "Merriweather", serif; */
    /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

input {
    border-radius: 0.25rem;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    cursor: pointer;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.75rem;
    border: 1px solid var(--color-1);
    background-color: var(--color-1);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    /* opacity: 0.8; */
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    /* opacity: 1; */
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
